.box_heading img{border-radius:5px;
			padding:20;

}

.bar_box_1{
		margin:0px auto;
		background-color:white;
		width:450px;
		margin-top:80px;

}

.first{float:left;}

.second{margin-left:500px;}

#myChart{
	margin-top:20px;
}
