.tooltip_box{
          display:none;
          text-transform:capitalize;
          padding-left:10px;
          padding-right:10px;
          background-color:#000000/*#330C2F*/;
          color:#f2f2f2;
          font-family:text-tooltip;
          border-radius:3px;
          opacity:0.8;
          white-space:nowrap;
}

.menu_tooltip_box{
            position:fixed;
            height:30px;
           line-height:30px;
          margin-top:5px;
           font-size:14px;
           margin-left:60px;
           background-color:#8062e1;
           
           }

.index_tooltip_box{display:none;
                  position:absolute;
                  z-index:400;
                  height:20px;
                  line-height:20px;
                  border-radius:20px 20px 20px 0px;
                  font-size:12px;
                  margin-top:-50px;
                  margin-left:12.5px;}

.box_menu_tooltip_box{ display:none;
                  position:absolute;
                  z-index:400;
                  height:20px;
                  line-height:20px;
                  border-radius:20px 20px 20px 0px;
                  font-size:12px;
                  margin-top:-65px;
                  margin-left:12.5px;
              }

.profile_tooltip_box{ display:none;
                  position:absolute;
                  z-index:400;
                  height:20px;
                  line-height:20px;
                  border-radius:20px 20px 20px 0px;
                  font-size:12px;
                  margin-top:-58px;
                  margin-left:12.5px;
              }


