html{
	background-color:#09456a;
  background:#D34E24;
  height:100%;
	color:#44728e;
}

.hide{display:none;}


.logo{width:200px;
    margin:0px auto;
    margin-top:30px;
}

.logo img{width:200px;
      outline:none;
}

.box_heading{text-align:center;
                font-family:heading-thin;
                font-size:22px;
                height:50px;
                line-height:50px;
                color:#5d5e5f; 
                font-weight:bold;
}

.box_body{
          font-size:14px;
          margin-top:10px;
          margin-bottom:20px;
}

.box_body ul{
             list-style:none;
             margin-left:-15px;
}

.content_box{width:500px;
			margin:0px auto;
			margin-top:30px;

}

.box{
			padding:20px;
			padding-top:10px;
			border-radius:3px;
			background-color:white;
			box-shadow:0px 0px 5px 1px #073B5B;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(0, 0, 0, 0.15);
}

.after_box{text-align:center;
				margin-top:25px;
				font-family:heading-minor;
				color:#ffffff;
				font-size:15px;
				text-shadow:1px 1px 1px #073B5B;
}

.after_box a{color:#ffffff;
					text-decoration:none;
}

.after_box a:hover{color:#ffffff;
}

.create_account{margin-top:15px;}


.input{ width:438px;
       height:50px;
       line-height:50px;
       margin-top:15px;
       border-radius:0px;
       padding-left:10px;
       padding-right:10px;
       border-radius:3px;
       color:#735C6D;
       border:0px;
       border:1px solid #A5B0B7;
       font-size:16px;
       font-family:heading-regular;
       outline:none;
       opacity:0.6;
}

.input:hover{border:1px solid #80898E;}

.input:focus{border:1px solid #97A1A8;
      color:#54434F;
      opacity:1;
}


.submit_button{ width:462px;
                margin-top:20px;
                height:50px;
                padding-left:30px;
                padding-right:30px;
                background-color:#37718E;
                border:0px;
                border-radius:3px;
                -moz-border-radius:3px;
                -webkit-border-radius:3px;
                font-size:16px;
                font-weight:bold;
                cursor:pointer;
                display:inline-block;
                color:#ffffff;
                outline:none;
                transition: all .2s ease;
                font-family:button;
}

.submit_button:hover {
                background-color:#31657F;
                outline:none;
}

.submit_button:active {
  position:relative;
  top:1px;
}

.action_box{
       text-align:center;
       min-height:30px;
       font-size:13px;
       line-height:30px;
       color:#A33232;
       display:none;
       margin-bottom:-5px;
}
